* {
    box-sizing: border-box;
}
.header {
    background-color: darkturquoise;
    height: 40px;
}

ul {
    margin: 0;
}
li {
    display: inline;
    line-height: 40px;
    margin-left: 16px;
    color: white;
}
.content {
    background-color: beige;
    height: 5000px;
}
.head {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: fixed;
    top: calc(50%);
    left: calc(50%);
}
